window {
  font-size: 2.2em;
  border: 2px solid #458588;
  border-radius: 15px;
  background-color: #32302f;
  color: #ebdbb2;
}

#input {
  padding: 8px;
  background-color: #32302f;
  color: #ebdbb2;
  border: none;
  box-shadow: none;
}

#input>image.left {
  color: #ebdbb2;
  margin-right: 12px;
}

#input>image.right {
  color: #32302f;
}

#entry {
  color: #458588;
}

#entry:selected {
  background-color: #458588;
}

#text:selected {
  color: #ebdbb2;
}

#outer-box {
  margin: 30px;
}